body,
html {
  margin: 0;
  font-family: 'Arial';
}

body {
  overflow-x: hidden;
}
.top-pane {
  background-color: hsl(225, 6%, 25%);
}

.pane {
  height: 60vh;
  display: flex;

  &>iframe {
    background-color: ghostwhite;
  }
}

p {
  margin: 0;
}
.controls-panel {
  display: flex;
  gap: 20px;
}

.react-codemirror2 {
  font-size: 16px !important;
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: hsl(225, 6%, 25%);
}

.editor-title {
  display: flex;
  color: white;
  font-size: 15px;
  justify-content: space-between;
  background-color: hsl(225, 6%, 14%);
  padding: 0.7rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
}

.CodeMirror {
  height: 100% !important;
}

.editor-container {
  transition: 0.3s all ease;
}

.editor-container.collapsed {
  flex-grow: 0;
  transition: 0.3s all ease;
}

button {
  color: orange;
  border: 1px solid orange;
  cursor: pointer;
  background: transparent;
  border-radius: 0.3rem;
  transition: 0.3s all ease;


  &:hover {
    color: crimson !important;
    transition: 0.3s all ease;
    border-color: crimson !important;
  }
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  opacity: 0;
}