body,
html {
  margin: 0;
  font-family: 'Arial';
  box-sizing: border-box;
  position: relative;
}

body {
  overflow-x: hidden;
}

.top-pane {
  background-color: hsl(225, 6%, 25%);
}

.pane {
  height: 60vh;
  display: flex;

  &>iframe {
    background-color: ghostwhite;
  }
}

p {
  margin: 0;
}

.controls-panel {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.react-codemirror2 {
  font-size: 16px !important;
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: hsl(225, 6%, 25%);
}

.editor-title {
  display: flex;
  color: white;
  font-size: 15px;
  justify-content: space-between;
  background-color: hsl(225, 6%, 14%);
  padding: 0.7rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.code-mirror-wrapper {
  flex-grow: 1;
  overflow: hidden;
}

.CodeMirror {
  min-height: 100% !important;
}

.editor-container {
  transition: 0.3s all ease;
}

.editor-container.collapsed {
  flex-grow: 0;
  transition: 0.3s all ease;
}

button {
  color: orange;
  border: 1px solid orange;
  cursor: pointer;
  background: transparent;
  border-radius: 0.3rem;
  transition: 0.3s all ease;

  &:focus {
    outline: none !important;
  }


  &:hover {
    color: crimson !important;
    transition: 0.3s all ease;
    border-color: crimson !important;
  }
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  opacity: 0;
}

.editor-bar {
  position: fixed;
  right: 0;
  top: 0;
  width: 0%;
  background: white;
  transition: 0.3s all ease;
  color: black;
  padding: 0px;
  min-height: 100vh;
  z-index: 2222222222;
  box-shadow: none;

  & button {
    padding: 15px;
  }
}

.open.editor-bar {
  box-shadow: 1px 1px 5px 1px lightgrey;
  width: 20%;
  padding: 10px;
  transition: 0.3s all ease;


}

.float-btn {
  position: fixed;
  right: 10px;
  width: 50px;
  border-radius: 50%;
  height: 50px;
  background: #253238;
  bottom: 20px;
  z-index: 999999999999999;

  &:hover {
    color: orange !important;
    width: 100px !important;
    border-radius: 5px !important;
    border-color: orange !important;
  }
}



.asrow.pane {
  display: block;
  height: auto;
  width: 100%;
}

.asrow.editor-container {
  width: 100% !important;
  padding: 0px;
  transition: 0.3s all ease;
  height: 60vh;
}

.asrow.editor-title {
  border-radius: 0px !important;

}

.row-editor-active {
  height: 10vh !important;
  transition: 0.3s all ease !important;
}

.code-mirror-wrapper {
  height: 60vh;
  transition: 0.3s all ease !important;
}


.asrow.root {
  display: flex;
  justify-content: space-between;
}

@media(max-width: 1200px) {
  .pane {
    display: block;
    height: auto;
  }

  .editor-container {
    width: 100% !important;
    padding: 0px;
    height: 60vh;
  }

  .editor-title {
    border-radius: 0px !important;
  }

  #root {
    display: flex;
    justify-content: space-between;
  }

  .CodeMirror {
    min-height: 100% !important;
  }


  .pane {
    width: 100%;
  }
}
